<div>
  <h1>Products</h1>
  <p>title: {{Products.title}} </p>
  <p>description: {{Products.description}} </p>
  <p>price: {{Products.price}} </p>
  <p>status: {{Products.status}} </p>
  <p>category: {{Products.category}} </p>
  <p>thumbnail: {{Products.thumbnail}} </p>
</div>